# Python for Data Anaysis 

### 5.5 계층적 색인
축에 대해 다중( 둘 이상) 색인 단계 지정 가능

In [4]:
import pandas as pd
import numpy as np

In [7]:
data = pd.Series(np.random.randn(10), 
                             index = [['a', 'a', 'a', 'b', 'b', 'b', 'c', 'c', 'd', 'd'],
                                     [1, 2, 3, 1, 2, 3, 1, 2, 2, 3]])

In [8]:
data

a  1    1.945808
   2   -0.220933
   3   -0.657934
b  1    0.037471
   2    0.306628
   3   -0.457666
c  1    0.347780
   2    0.106508
d  2    0.532420
   3   -1.666121
dtype: float64

In [9]:
data.index

MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 1, 2, 0, 1, 1, 2]])

In [10]:
data['b']

1    0.037471
2    0.306628
3   -0.457666
dtype: float64

In [11]:
data['b':'c']

b  1    0.037471
   2    0.306628
   3   -0.457666
c  1    0.347780
   2    0.106508
dtype: float64

In [13]:
data.loc[['b', 'd']]

b  1    0.037471
   2    0.306628
   3   -0.457666
d  2    0.532420
   3   -1.666121
dtype: float64

하위 계층의 객체 선택

In [14]:
data[:, 2]

a   -0.220933
b    0.306628
c    0.106508
d    0.532420
dtype: float64

DataFrame 객체에 unstack 메서드를 사용해서 데이터를 재배열 가능

In [15]:
data.unstack()

          1         2         3
a  1.945808 -0.220933 -0.657934
b  0.037471  0.306628 -0.457666
c  0.347780  0.106508       NaN
d       NaN  0.532420 -1.666121

unstack의 반대되는 작업은 stack 메서드로 수행

In [16]:
data.unstack().stack()

a  1    1.945808
   2   -0.220933
   3   -0.657934
b  1    0.037471
   2    0.306628
   3   -0.457666
c  1    0.347780
   2    0.106508
d  2    0.532420
   3   -1.666121
dtype: float64

In [19]:
np.arange(12)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [21]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                    index = [['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                    columns = [['Ohio', 'Ohio', 'Colorado'],
                              ['Green', 'Red', 'Green']])

In [22]:
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [23]:
frame.index.names = ['key1', 'key2']

In [24]:
frame.columns.names = ['state', 'color']

In [25]:
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [26]:
frame['Ohio']

color      Green  Red
key1 key2
a    1         0    1
     2         3    4
b    1         6    7
     2         9   10